<h2>事前予約が完了しました。</h2>

<p>
ありがとうございます。<br>
ご入力いただいたメールアドレスに、ご予約内容を送信いたしました。<br>
</p>

<div class="well">
	<h3>発券番号：<%= @reserve.id %></h3>
	<p>
	演奏会当日、受付にて発券番号と一緒に料金をお支払ください。<br>
	予約枚数のチケットをお渡しいたします。
	</p>
</div>
