<!DOCTYPE html>
<html>
<head>
  <title>Thanks!Kオーケストラ第２回演奏会 チケット事前予約</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta http-equiv="content-type" content="text/html ;charset=utf-8" />
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<img src="http://www.thanks-k.com/img/header.gif" id="logo" alt="菅野よう子楽曲演奏団体 Thanks!K" />
<h1>Thanks!Kオーケストラ第２回演奏会</h1>
<h2>チケット事前予約</h2>
<%= yield %>
</div>
</body>
</html>
